html {
  --color-1: #3F2E1E;
  --color-2: #6B5A3A;
  --color-3: #E9E6D8;
  --color-4: #F6F7F3;
  --color-5: #FFFFFF;

  --gap-1: 0.625rem;
  --gap-2: 1.25rem;
}

body {
  font-family: sans-serif;
  margin: 0;
  color: var(--color-2);
  background: var(--color-4);
}

ul,
li,
a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

.box {
  padding: var(--gap-2);
  border-radius: var(--gap-2);
  background: var(--color-5);
}

.flex {
  display: flex;
  gap: var(--gap-2);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap-2);
}

.bg-1 {
  background: var(--color-1);
}

.bg-2 {
  background: var(--color-2);
}

.bg-3 {
  background: var(--color-3);
}

.bg-4 {
  background: var(--color-4);
}

.bg-5 {
  background: var(--color-5);
}

.container {
  display: grid;
  /* max-width: 1280px;
  margin: 0 auto; */
  grid-template-columns: 240px auto;
  gap: var(--gap-2);
  padding: var(--gap-2);
}

.sidenav li {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.sidenav li:hover span {
  background: var(--color-3);
}

.sidenav li a {
  flex: 1;
  margin: 0.25rem 0;
  color: var(--color-1);
  font-size: 1.125rem;
  padding: var(--gap-1) 0;
}

.sidenav li span {
  width: 2rem;
  height: 2rem;
  background: var(--color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--gap-1);
}

.daterange {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-1);
}

.resumo {
  font-size: 1.5rem;
  font-weight: 600;
}

.resumo h2 {
  font-size: 1.5rem;
  margin-bottom: var(--gap-2);
  color: var(--color-1);
}

.venda {
  display: grid;
  grid-template-columns: auto auto 1fr;
  margin-bottom: var(--gap-1);
  gap: var(--gap-2);
  align-items: center;
}

.venda div:last-child {
  justify-self: end;
}

.venda a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .resumo {
    flex-direction: column;
  }

  .daterange {
    grid-template-columns: 1fr;
  }

  .daterange *:last-child {
    grid-row: 1;
  }
}

@media (max-width: 768px) {
  html {
    --gap-1: 0.5rem;
    --gap-2: 0.75rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .flex {
    flex-direction: column;
  }

  .sidenav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sidenav li a {
    font-size: 0.875rem;
  }

  .venda {
    grid-template-columns: 1fr;
  }

  .venda div:last-child {
    justify-self: start;
  }
}
